.navigate-button {
    display: flex;
    margin: 2em auto;
    border: 2px solid #0000001a;
    border-radius: 10px;
    font-weight: 600;
    color: #0647A8;
    padding: 1vh 10vh;
    background-color: #D9D9D9;
    font-size: 1em;
}

.navigate-button:hover {
    background-color: #0647A8;
    color: #D9D9D9;
    transition: 0.3s;
    cursor: pointer;
}
